
.footer {
    margin-top: 15%;
    background-color: #2D343C;
    
}
.container-footer {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 2%;
}
.about-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.logo-footer {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}
.logo-footer p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.navbar-footer {

}
    
.navbar-footer li {
    list-style-type:none;
    margin-bottom: 6%;
}
.navbar-footer a {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
}
.contact-footer {
}
.contact-footer p {
    color: #fff;
    opacity: 0.6;
    margin-bottom: 6%;
}
.contact-footer a {
    color: #D4C17F;
}
.contact-footer-icons img {
    margin-right: 7%;
}

        /* media */

@media screen and (max-width: 1200px) {
    .about-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%;
    }
}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 600px) {
    .footer {
        padding-bottom: 30%;
        
    }
    .logo-footer {
    text-align: center;
    margin: 0 auto;
    }
    .about-footer {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
    }
}